/*

  font-family: 'Albert Sans', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-size: 16px;
  line-height: 28px;
  color: #ffffffcc;
  font-weight: 400;
  font-family: "Albert Sans", sans-serif;
  text-align: left;
}

p {
  font-weight: 400;
  font-style: normal;
  color: #555555;
  font-family: "Albert Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232323;
  font-style: normal;
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a {
  color: #02c0bc;
  text-decoration: none;
  display: inline-block;
}

a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #00ffff;
}

i {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Body Color */

:root {
  --primary-color: #00ffff;
  --primary-filter: brightness(0) saturate(100%) invert(87%) sepia(28%)
    saturate(5255%) hue-rotate(91deg) brightness(101%) contrast(80%);
  .color-btn ul li button.defaults:before {
    opacity: 1;
  }
}

.color-btn ul li button:before {
  position: absolute;
  top: -5px;
  left: -5px;
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px dashed #fff;
  opacity: 0;
}

/* Background Color */

.bg-btn ul li button.bg-default {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 600;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  display: inline-block;
  background: transparent;
}

input:focus {
  outline-color: #00ffff;
  border: 1px solid #00ffff;
}

textarea:focus {
  border: 1px solid #00ffff;
  outline-color: #00ffff;
}

select:focus {
  border-color: #00ffff;
  outline-color: #00ffff;
  border: 1px solid #00ffff;
}

hr {
  margin: 60px 0;
  padding: 0px;
  border-bottom: 1px solid #dfdfdf;
  border-top: 0px;
}

hr.mp-0 {
  margin: 0;
  border-bottom: 1px solid #eceff8;
}

hr.mtb-40 {
  margin: 40px 0;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}

label {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

a,
i,
cite,
em,
var,
address,
dfn,
ol,
li,
ul {
  font-style: normal;
  font-weight: 400;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 760px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 900px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1150px;
  }
}

*::-moz-selection {
  background: #4fc1f0;
  color: #454545;
  text-shadow: none;
}

::-moz-selection {
  background: #4fc1f0;
  color: #454545;
  text-shadow: none;
}

::selection {
  background: #4fc1f0;
  color: #454545;
  text-shadow: none;
}

::placeholder {
  color: #101010;
  font-size: 15px;
}

::-webkit-input-placeholder {
  color: #101010;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #454545;
}

:-ms-input-placeholder {
  /* IE 10+ */

  color: #454545;
}

:-moz-placeholder {
  /* Firefox 18- */

  color: #454545;
}

/* Contact Area */
.counter_area ::-moz-selection {
  color: #001d23;
  text-shadow: none;
}

.contact_area ::-moz-selection {
  color: #001d23;
  text-shadow: none;
}

.contact_area ::selection {
  color: #001d23;
  text-shadow: none;
}

.contact_area ::placeholder {
  color: #001d23;
  font-size: 16px;
}

.contact_area ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #001d23;
}

.contact_area ::-moz-placeholder {
  /* Firefox 19+ */
  color: #001d23;
}

.contact_area :-ms-input-placeholder {
  /* IE 10+ */
  color: #001d23;
}

.contact_area :-moz-placeholder {
  /* Firefox 18- */
  color: #001d23;
}

.blog_reply ::-moz-selection {
  color: #151948;
}

.blog_reply ::-moz-selection {
  color: #151948;
}

.blog_reply ::selection {
  color: #151948;
}

.blog_reply::placeholder {
  color: #151948;
}

.blog_reply ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #151948;
}

.blog_reply ::-moz-placeholder {
  /* Firefox 19+ */
  color: #151948;
}

.blog_reply :-ms-input-placeholder {
  /* IE 10+ */
  color: #151948;
}

.blog_reply :-moz-placeholder {
  /* Firefox 18- */
  color: #151948;
}

.text-right {
  text-align: right !important;
}

.pr-0 {
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px;
}
