/* Sidebar Height Responsive*/

@media (max-height: 920px) {
  section.portfolio-sidebar {
    width: 290px;
  }

  button.settings_btn.headers-button {
    top: 4rem;
    left: 16.5rem;
  }

  .portfolio-profile-thumb {
    border: 5px solid;
  }

  .portfolio-profile-thumb img {
    width: 170px;
  }

  .portfolio-profile {
    padding: 20px 0 10px;
  }

  .portfolio-profile-title h4 {
    margin-top: 10px;
  }

  nav.portfolio-navbar {
    padding: 40px 90px 35px 90px;
  }

  nav.portfolio-navbar ul li {
    padding: 4px 0;
  }

  .portfolio-social ul li a {
    margin: 6px 0;
  }

  .portfolio-social {
    padding: 5px 0;
  }
}

/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1300px) {
  section.portfolio-sidebar {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 780px;
    position: relative;
    margin-top: -46px;
    width: 100%;
  }

  button.settings_btn.headers-button {
    top: 4rem;
    left: 18rem;
    position: relative;
  }

  .portfolio-profile {
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  nav.portfolio-navbar {
    text-align: center;
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  .portfolio-social {
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 0 0 20px 20px;
  }

  .resume-box-date h6:before {
    left: -54px;
  }

  .resume-single-box {
    padding: 24px 0 24px 50px;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  section.portfolio-sidebar {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 760px;
    position: relative;
    margin-top: -46px;
    width: 100%;
  }

  button.settings_btn.headers-button {
    top: 5rem;
    left: 13rem;
    position: relative;
  }
  .portfolio-profile {
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  nav.portfolio-navbar {
    text-align: center;
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  .portfolio-social {
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 0 0 20px 20px;
  }

  .pricing-single-box {
    padding: 32px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  section.portfolio-sidebar {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
    position: relative;
    margin-top: -46px;
    width: 100%;
  }

  button.settings_btn.headers-button {
    top: 5rem;
    left: 9rem;
    position: relative;
  }

  .portfolio-profile {
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  nav.portfolio-navbar {
    text-align: center;
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  .portfolio-social {
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 0 0 20px 20px;
  }

  .testimonial-box-rate {
    right: -18px;
  }

  .thumb-title h5 {
    font-size: 14px;
  }

  .pricing-single-box {
    margin-bottom: 30px;
  }
}

/* Large Mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  section.portfolio-sidebar {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 540px;
    position: relative;
    margin-top: -46px;
    width: 100%;
  }

  button.settings_btn.headers-button {
    top: 5rem;
    left: 7rem;
    position: relative;
  }

  .portfolio-profile {
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  nav.portfolio-navbar {
    text-align: center;
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  .portfolio-social {
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 0 0 20px 20px;
  }

  .portfolio-title h1 {
    font-size: 44px;
    line-height: 64px;
  }

  .services-single-box {
    padding: 32px;
    gap: 20px;
  }

  .services-single-box:hover .service-box-content::before {
    width: 50px;
  }

  .services-single-box:hover .service-box-content {
    padding-left: 60px;
  }

  .service-box-btn a {
    right: 30px;
  }

  .portfolio-section-title h1 {
    font-size: 42px;
    line-height: 50px;
  }

  section.portfolio-section .portfolio-section-title h1 {
    width: 90%;
  }

  .testimonial-box {
    width: 95% !important;
  }

  .thumb-sub-title h6 {
    left: 12px;
  }

  .portfolio-single-item:hover .thumb-sub-title h6 {
    bottom: 80px;
  }

  .portfolio-single-item:hover .thumb-title h5 {
    bottom: 20px;
  }

  .thumb-title h5 {
    font-size: 12px;
    font-weight: 500;
    left: 12px;
    padding: 10px 10px;
  }

  .pricing-single-box {
    margin-bottom: 30px;
  }
}

/* small mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 599px) {
  section.portfolio-sidebar {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 540px;
    position: relative;
    margin-top: -46px;
    width: 100%;
  }

  button.settings_btn.headers-button {
    top: 5rem;
    left: 18.5rem;
    position: relative;
  }

  .portfolio-profile {
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  nav.portfolio-navbar {
    text-align: center;
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  .portfolio-social {
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 0 0 20px 20px;
  }

  .portfolio-title h1 {
    font-size: 36px;
    line-height: 54px;
  }

  a.banner-play-btn {
    margin-top: 30px;
  }

  .portfolio-section-title h1 {
    font-size: 36px;
    line-height: 42px;
  }

  .services-single-box {
    padding: 30px 30px 60px;
    gap: 30px;
    flex-direction: column;
  }

  .services-single-box:hover .service-box-content {
    padding-left: 0px;
  }

  .services-single-box:hover .service-box-content::before {
    width: 0px;
  }

  .service-box-btn a {
    right: inherit;
    top: inherit;
  }
  section.portfolio-section .portfolio-section-title h1 {
    width: 84%;
  }

  .thumb-sub-title h6 {
    left: 12px;
  }

  .portfolio-single-item:hover .thumb-sub-title h6 {
    bottom: 65px;
  }

  .portfolio-single-item:hover .thumb-title h5 {
    bottom: 20px;
  }

  .thumb-title h5 {
    font-size: 12px;
    font-weight: 500;
    left: 12px;
    padding: 6px;
  }

  .testimonial-box {
    padding: 20px;
    width: 95% !important;
  }

  .pricing-single-box {
    margin-bottom: 30px;
  }
}

/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  section.portfolio-sidebar {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 540px;
    position: relative;
    margin-top: -46px;
    width: 100%;
  }

  button.settings_btn.headers-button {
    top: 5rem;
    left: 13.5rem;
    position: relative;
  }

  .portfolio-profile {
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  nav.portfolio-navbar {
    text-align: center;
    border-left: 1px solid rgb(255 255 255 / 10%);
  }

  .portfolio-social {
    border: 1px solid rgb(255 255 255 / 10%);
    border-radius: 0 0 20px 20px;
  }

  .portfolio-title h1 {
    font-size: 26px;
    line-height: 40px;
  }

  .banner-btn a {
    padding: 14px 20px;
  }

  a.banner-play-btn {
    margin-top: 30px;
  }

  .portfolio-section-title h1 {
    font-size: 24px;
    line-height: 34px;
  }

  .services-single-box {
    padding: 30px 30px 60px;
    gap: 30px;
    flex-direction: column;
  }

  .services-single-box:hover .service-box-content {
    padding-left: 0px;
  }

  .services-single-box:hover .service-box-content::before {
    width: 0px;
  }

  .service-box-btn a {
    right: inherit;
    top: inherit;
  }

  section.portfolio-section .portfolio-section-title h1 {
    width: 88%;
  }

  .testimonial-box {
    padding: 25px 25px 24px;
    width: 93% !important;
  }

  .testimonial-profile {
    align-items: start;
    flex-direction: column;
  }

  .testimonial-desc p {
    font-size: 20px;
  }

  .thumb-title h5,
  .thumb-sub-title h6 {
    display: none;
  }

  .pricing-single-box {
    margin-bottom: 30px;
  }

  .pricing-discount-note h6 {
    right: 16px;
  }
}
