/*<!-- ============================================================== -->
 <!-- Portfolio Reset Code & Common Start Here -->
<!-- ============================================================== -->*/

body {
  position: relative;
  z-index: 1;
}

body::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 960px;
  z-index: -2;
}

main {
  max-width: calc(100% - 330px);
  margin-left: auto;
}

.portfolio-sub-title h6 {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  background: transparent;
  backdrop-filter: blur(8px);
  display: inline-block;
  padding: 5px 20px;
  border-radius: 30px;
  border: 1px solid rgb(255 255 255 / 10%);
  margin-bottom: 28px;
  transition: all 0.5s;
}

.portfolio-sub-title img {
  padding: 0 6px 0 0;
  position: relative;
  top: -3px;
  transition: all 0.5s;
}

.portfolio-sub-title h6:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.portfolio-sub-title h6:hover img {
  filter: var(--primary-filter);
}

.portfolio-section-title h1 {
  font-size: 45px;
  line-height: 55px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;
}

.portfolio-section-title h1 span {
  color: var(--primary-color);
}

/*<!-- ============================================================== -->
 <!-- Portfolio What's App Start Here -->
<!-- ============================================================== -->*/

.whatsapp-icon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: inline-block;
}

.whatsapp-icon a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 50%;
  font-size: 24px;
  background-color: transparent;
  backdrop-filter: blur(8px);
  text-decoration: none;
}

/*<!-- ============================================================== -->
 <!-- Portfolio Reset Code & Common End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Portfolio Sidebar Start Here -->
<!-- ============================================================== -->*/

section.portfolio-sidebar {
  width: 330px;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(8px);
  text-align: center;
  position: fixed;
  z-index: 999;
}

.portfolio-profile {
  border-right: 1px solid rgb(255 255 255 / 10%);
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  padding: 42px 0 38px;
}

.portfolio-profile-thumb {
  border-radius: 50%;
  border: 7px solid;
  border-color: #4e5752;
  transition: all 0.5s;
  display: inline-block;
  overflow: hidden;
}

.portfolio-profile-thumb:hover {
  border-color: var(--primary-color);
}

.portfolio-profile-thumb img {
  transition: all 0.5s;
  filter: saturate(0);
  width: 220px;
}

.portfolio-profile-thumb:hover img {
  filter: saturate(1);
}

.portfolio-profile-title h4 {
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 22px;
}

nav.portfolio-navbar {
  border-right: 1px solid rgb(255 255 255 / 10%);
  padding: 84px 0px 84px 120px;
  text-align: left;
}

nav.portfolio-navbar ul li {
  padding: 7px 0;
}

nav.portfolio-navbar ul li a {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.5s;
}

nav.portfolio-navbar img {
  position: relative;
  top: -3px;
  left: -6px;
  transition: all 0.5s;
}

nav.portfolio-navbar ul li a.active img,
nav.portfolio-navbar ul li a:hover img {
  filter: brightness(0) saturate(100%) invert(73%) sepia(100%) saturate(721%)
    hue-rotate(123deg) brightness(100%) contrast(105%);
}

nav.portfolio-navbar ul li a.active,
nav.portfolio-navbar ul li a:hover {
  color: var(--primary-color);
}

.portfolio-social {
  border-right: 1px solid rgb(255 255 255 / 10%);
  border-top: 1px solid rgb(255 255 255 / 10%);
  padding: 12px 0;
}

.portfolio-social ul li {
  display: inline-block;
  margin: 0 15px;
}

.portfolio-social ul li a {
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  position: relative;
  transition: all 0.5s;
}

.portfolio-social ul li a:hover {
  color: var(--primary-color);
}

.portfolio-social ul li a:hover:before {
  transform: translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}

.portfolio-social ul li a:hover:after {
  transform: rotate(45deg) translate(0px, 0px);
  opacity: 1;
  visibility: visible;
}

.portfolio-social ul li a:before {
  position: absolute;
  top: -23px;
  right: -80px;
  width: 70px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  background: #fff;
  border-radius: 4px;
  transform: translate(-15px, 5px);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  opacity: 0;
  visibility: hidden;
  text-align: center;
  color: #010101;
  transition: all 0.5s;
}

.portfolio-social ul li:nth-child(1) a:before {
  content: "Facebook";
}

.portfolio-social ul li:nth-child(2) a:before {
  content: "Instagram";
}

.portfolio-social ul li:nth-child(3) a:before {
  content: "Linkedin";
}

.portfolio-social ul li:nth-child(4) a:before {
  content: "Dribbble";
}

.portfolio-social ul li a:after {
  position: absolute;
  content: "";
  top: -5px;
  right: -13px;
  width: 8px;
  height: 14px;
  background: #fff;
  clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 50% 100%);
  transform: rotate(45deg) translate(-10px, 15px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

/*<!-- ============================================================== -->
 <!-- Portfolio Portfolio Sidebar End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Banner Start Here -->
<!-- ============================================================== -->*/

section.banner-section {
  padding: 132px 0 0;
}

section.banner-section .portfolio-sub-title h6 {
  margin-bottom: 20px;
}

.portfolio-title h1 {
  font-size: 58px;
  line-height: 74px;
  color: #ffffff;
  font-weight: 500;
  padding: 0px 0 32px;
}

.portfolio-title span {
  position: relative;
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}

.banner-location h5 {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffffcd;
  font-weight: 400;
}

.banner-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-btn a {
  display: inline-block;
  padding: 14px 36px;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: background 0.2s ease-in-out;
  overflow: hidden;
  background: var(--primary-color);
  border-radius: 30px;
}

.text-inner {
  -webkit-animation: rotateme 8s linear infinite;
  animation: rotateme 8s linear infinite;
}

.btn_label {
  font-size: 16px;
  color: #0a100d;
  font-weight: 500;
  display: block;
  width: 100%;
  transform: none;
  transition: all 0.4s ease-in-out;
}

.btn_label-hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.banner-btn a:hover .btn_label {
  opacity: 0;
  transform: translateY(-200%);
  color: #333;
}

.banner-btn a:hover .btn_label-hover {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  color: #0a100d;
}

a.banner-play-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgb(255 255 255 / 10%);
  overflow: hidden;
  line-height: 150px;
  text-align: center;
  position: relative;
}

.play-btn-icon i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: #ffffffcd;
}

.banner-counter {
  margin-top: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-single-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-box-title {
  display: flex;
  align-items: center;
}

.counter-box-title h1 {
  display: inline-block;
  font-size: 70px;
  line-height: 70px;
  color: var(--primary-color);
  font-weight: 400;
}

.counter-box-desc p {
  font-size: 14px;
  line-height: 26px;
  color: #ffffffcd;
  text-transform: uppercase;
  margin: 0 auto;
}

/*<!-- ============================================================== -->
 <!-- Portfolio Banner End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio About Start Here -->
<!-- ============================================================== -->*/

section.about-section {
  padding: 142px 0 0;
}

section.about-section .portfolio-section-title h1 {
  margin: 0 0 22px;
}

.about-desc p {
  line-height: 26px;
  color: #ffffffcd;
  margin: 0 0 42px;
  display: inline-block;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  padding: 20px 30px;
  border-radius: 15px;
  overflow: hidden;
}

section.about-section .banner-btn a {
  background: transparent;
  border: 1px solid var(--primary-color);
  margin-top: 8px;
}

section.about-section .btn_label,
section.about-section .btn_label-hover {
  color: var(--primary-color);
}

section.about-section .banner-btn a:hover,
section.about-section .banner-btn a:hover .btn_label-hover {
  color: var(--primary-color);
}

/*<!-- ============================================================== -->
 <!-- Portfolio About End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Resume Start Here -->
<!-- ============================================================== -->*/

section.resume-section {
  padding-top: 137px;
}

.resume-box {
  margin-top: 68px;
}

.resume-single-box {
  position: relative;
  padding: 24px 0 24px 54px;
}

.resume-single-box:nth-child(1),
.resume-single-box:nth-child(2) {
  padding-bottom: 67px;
}

.resume-single-box:hover::after {
  border-color: var(--primary-color);
}

.resume-single-box:hover::before,
.resume-single-box:hover .resume-box-date h6::before {
  background: var(--primary-color);
}

.resume-single-box:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #909090;
  content: "";
  transition: all 0.5s;
}

.resume-single-box:after {
  position: absolute;
  content: "";
  top: 26px;
  left: -11px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: #1f1f1f;
  border: 1px solid rgba(255, 255, 255, 0.53);
  transition: all 0.5s;
}

.resume-box-date h6:before {
  position: absolute;
  top: 9px;
  left: -58px;
  content: "";
  opacity: 0.502;
  width: 8px;
  height: 8px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.5019607843137255);
  z-index: 1;
  transition: all 0.5s;
}

.resume-box-date h6 {
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-color);
  font-weight: 400;
  position: relative;
}

.resume-box-date i {
  font-size: 14px;
  padding-right: 6px;
  position: relative;
  top: -2px;
}

.resume-box-title h4 {
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 500;
  margin: 7px 0 5px;
}

.resume-box-location h6 {
  font-size: 17px;
  line-height: 32px;
  color: #ffffffcd;
  font-weight: 600;
}

.resume-box-desc p {
  font-size: 18px;
  color: #ffffff;
  margin: 22px 0 0;
}

/*<!-- ============================================================== -->
 <!-- Portfolio Resume End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Service Start Here -->
<!-- ============================================================== -->*/

section.services-section {
  padding-top: 150px;
}

.service-box {
  margin-top: 58px;
}

.services-single-box {
  display: flex;
  border-radius: 15px;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  padding: 50px;
  transition: all 0.5s linear;
  gap: 46px;
  position: relative;
  margin-bottom: 30px;
}

.services-single-box:hover {
  border-color: var(--primary-color);
}

.service-box-content {
  transition: all 0.5s;
  position: relative;
}

.services-single-box:hover .service-box-content {
  padding-left: 100px;
}

.service-box-content:before {
  position: absolute;
  top: 15px;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.5s;
}

.services-single-box:hover .service-box-content:before {
  width: 70px;
}

.service-box-number h4 {
  font-size: 26px;
  line-height: 32px;
  color: #ffffffcd;
  font-weight: 400;
}

.service-box-title h4 {
  font-size: 26px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 11px;
}

.service-box-desc p {
  max-width: 490px;
  width: 100%;
  font-size: 18px;
  line-height: 32px;
  color: #ffffffcd;
  font-weight: 500;
  margin: 0;
}

.service-box-btn a {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: var(--primary-color);
  background-color: #0a100d;
  border: 1px solid rgba(255, 255, 255, 0.23);
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s;
}

.services-single-box:hover .service-box-btn a {
  transform: translateY(-50%) rotate(0deg);
  color: #0a100d;
  background-color: var(--primary-color);
}

/*<!-- ============================================================== -->
 <!-- Portfolio Service End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Skill Start Here -->
<!-- ============================================================== -->*/

section.skill-section {
  padding: 120px 0 0;
}

.skill-item {
  margin-top: 66px;
}

.skill-single-item {
  text-align: center;
  margin-bottom: 28px;
}

.skill-item-box {
  border-radius: 17px;
  background-color: var(--primary-color);
  position: relative;
  padding: 50px 0 40px;
  z-index: 1;
}

.skill-item-box:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141a17;
  backdrop-filter: blur(8px);
  content: "";
  border-radius: 15px 60px 15px 15px;
  transition: all 0.5s;
  z-index: -1;
}

.skill-single-item:hover .skill-item-box:before {
  border-radius: 15px 100px 15px 100px;
}

.skill-item-percent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-item-percent h4 {
  font-size: 30px;
  line-height: 40px;
  color: var(--primary-color);
  font-weight: 400;
  display: inline-block;
  margin-top: 26px;
}

.skill-item-title h6 {
  font-size: 16px;
  line-height: 55px;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.5s;
}

.skill-single-item:hover .skill-item-title h6 {
  color: var(--primary-color);
}

/*<!-- ============================================================== -->
 <!-- Portfolio Skill End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Start Here -->
<!-- ============================================================== -->*/

section.portfolio-section {
  padding-top: 100px;
}

section.portfolio-section .portfolio-section-title h1 {
  width: 62%;
}

.portfolio-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 80px;
}

.portfolio-single-item {
  position: relative;
  overflow: hidden;
}

.portfolio-single-item::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  opacity: 0;
  visibility: hidden;
}

.portfolio-single-item:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.portfolio-single-item:nth-child(2) {
  grid-column: 2/4;
}

.portfolio-single-item:nth-child(6) {
  grid-column: 1/3;
}

.portfolio-single-item img {
  border-radius: 12px;
  width: 100%;
}

.thumb-sub-title h6 {
  font-size: 13px;
  line-height: 30px;
  color: #ffffffcd;
  font-weight: 400;
  display: inline-block;
  padding: 6px 20px;
  background-color: #0a100d;
  border-radius: 5px;
  position: absolute;
  bottom: 80%;
  left: 35px;
  opacity: 0;
}

.portfolio-single-item:hover .thumb-sub-title h6 {
  bottom: 108px;
  opacity: 1;
}

.thumb-title h5 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: -54px;
  left: 36px;
  background-color: #0a100d;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
}

.portfolio-single-item:hover .thumb-title h5 {
  bottom: 54px;
  opacity: 1;
}

/*<!-- ============================================================== -->
 <!-- Portfolio End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio End Here -->
<!-- ============================================================== -->*/

section.testimonial-section {
  margin-top: 150px;
  position: relative;
}

.testimonial-slider {
  margin-top: 66px;
}

.testimonial-box {
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  padding: 45px 45px 34px;
  position: relative;
  width: 97.5% !important;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 24px;
}

.tesimonial-profile-thumb {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 50%;
  font-size: 34px;
}

.testimonial-profile-title h5 {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 600;
}

.testiminial-profile-designation h6 {
  font-size: 17px;
  line-height: 30px;
  color: #ffffffcd;
  font-weight: 400;
}

.testimonial-desc p {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 400;
  margin: 25px 0 23px;
}

.testimonial-purpose h6 {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
}

.testimonial-box-rate {
  border: 1px solid rgba(255, 255, 255, 0.23);
  display: inline-block;
  padding: 9px 20px 5px;
  border-radius: 5px 5px 0 5px;
  position: absolute;
  top: 60px;
  right: -20px;
}

.testimonial-box-rate ul {
  position: relative;
}

.testimonial-box-rate ul::before {
  position: absolute;
  content: "";
  bottom: -28px;
  right: -12px;
  width: 1px;
  height: 26px;
  border-right: 1px solid rgba(255, 255, 255, 0.23);
  transform: rotate(45deg);
}

.testimonial-box-rate ul li {
  display: inline-block;
  color: var(--primary-color);
}

span.slick-next {
  position: absolute;
  bottom: -5.3rem;
}

span.slick-prev {
  position: absolute;
  left: 8.1rem;
  bottom: -5.3rem;
}

span.slick-prev,
span.slick-next {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  color: rgba(255, 255, 255, 0.23);
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
}

span.slick-prev:hover,
span.slick-next:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/*<!-- ============================================================== -->
 <!-- Portfolio End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Pricing Start Here -->
<!-- ============================================================== -->*/

section.pricing-section {
  padding-top: 235px;
}

.pricing-box-slider {
  margin-top: 66px;
}

.pricing-box-slider .slick-slide {
  margin-right: 24px;
}

.pricing-single-box {
  border-radius: 15px;
  background: transparent;
  backdrop-filter: blur(8px);
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 1;
}

.pricing-single-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: all 0.5s;
}

.pricing-single-box:hover::before {
  border-color: var(--primary-color);
}

.pricing-box-title h4 {
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 500;
}

.pricing-box-price {
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
  gap: 8px;
}

.pricing-box-price h1 {
  display: inline-block;
  font-size: 45px;
  line-height: 55px;
  color: var(--primary-color);
  font-weight: 600;
  padding: 18px 0 22px;
}

.pricing-box-price > span {
  color: #ffffffcd;
  font-weight: 500;
}

.pricing-service-title {
  display: flex;
  align-items: center;
  margin: 30px 20px 10px 0;
}

.pricing-service-title > div {
  font-size: 40px;
  margin-left: -14px;
}

.pricing-service-title h5 {
  font-size: 17px;
  color: white;
  font-weight: 400;
}

.pricing-box-list {
  margin: 5px 0 10px;
  display: inline-block;
}

.pricing-box-list li {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  margin: 10px 0;
}

.pricing-box-list i {
  font-size: 22px;
  position: relative;
  bottom: -2px;
  padding-right: 8px;
  color: var(--primary-color);
}

.pricing-box-btn a {
  border-radius: 26px;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  padding: 9px 10px;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}

.pricing-single-box:hover .pricing-box-btn a {
  border-color: var(--primary-color);
  color: #1f1f1f;
}

.pricing-box-btn a:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  transform: scale(0);
  border-radius: 26px;
  transition: all 0.5s;
  z-index: -1;
}

.pricing-single-box:hover .pricing-box-btn a:before {
  transform: scale(1);
}

.pricing-discount-note h6 {
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  display: inline-block;
  padding: 4px 22px;
  position: absolute;
  top: 32px;
  right: 32px;
}

.pricing-box-note {
  text-align: center;
}

.pricing-box-note h6 {
  font-size: 16px;
  line-height: 30px;
  color: var(--primary-color);
  font-weight: 500;
  padding: 4px 22px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  transform: rotate(48deg);
  position: absolute;
  width: 270px;
  top: 46px;
  right: -77px;
}

/*<!-- ============================================================== -->
 <!-- Portfolio Pricing End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Brand Start Here -->
<!-- ============================================================== -->*/

.brand-section {
  padding-top: 140px;
}

.brand-item {
  margin-top: 70px;
}

.brand-desc p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 500;
  max-width: 970px;
  margin: 0;
}

.brand-desc p span {
  color: var(--primary-color);
}

.brand-thumb {
  height: 135px;
  border-radius: 12px;
  background-color: var(--primary-color);
  margin-bottom: 30px;
  text-align: center;
  line-height: 135px;
  position: relative;
  z-index: 1;
}

.brand-thumb::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141a17;
  backdrop-filter: blur(8px);
  transition: all 0.5s;
  border-radius: 10px;
  z-index: -1;
}

.brand-thumb:hover::before {
  border-radius: 100px 10px 100px 10px;
}

.brand-thumb img {
  transition: all 0.5s;
}

.brand-thumb:hover img {
  filter: brightness(0) invert(1);
}

/*<!-- ============================================================== -->
 <!-- Portfolio Brand End Here -->
<!-- ============================================================== -->*/

/*<!-- ============================================================== -->
 <!-- Portfolio Contact Start Here -->
<!-- ============================================================== -->*/

section.contact-section {
  padding-top: 122px;
  padding-bottom: 50px;
}

form.contact-form {
  border-radius: 20px;
  background: #2a2e2c36;
  backdrop-filter: blur(8px);
  padding: 30px 30px 40px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  margin-top: 66px;
}

.contact-form-top {
  gap: 30px;
  display: flex;
}

.contact-form-name,
.contact-form-number {
  width: 100%;
}

form.contact-form label {
  font-size: 16px;
  line-height: 30px;
  color: #ffffffcd;
  font-weight: 500;
  margin-bottom: 6px;
}

form.contact-form input {
  height: 55px;
  border-radius: 6px;
  background-color: #ffffff17;
  width: 100%;
  padding: 10px 26px;
  margin-bottom: 18px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.23);
}

form.contact-form input::placeholder,
form.contact-form textarea::placeholder {
  color: #ffffff83;
}

.contact-form-message textarea {
  height: 195px;
  border-radius: 6px;
  background-color: #ffffff17;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.23);
  padding: 10px 20px;
  margin-bottom: 30px;
  resize: none;
  color: #fff;
}

.contact-form-btn {
  text-align: center;
}

.contact-form-btn button {
  height: 55px;
  border-radius: 10px;
  background-color: #ffffff17;
  border: 1px solid rgba(255, 255, 255, 0.23);
  width: 100%;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contact-form-btn button:hover {
  color: #1f1f1f;
}

.contact-form-btn button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background: var(--primary-color);
  transition: all 0.5s;
  z-index: -1;
}

.contact-form-btn button:hover:before {
  width: 100%;
}

/*<!-- ============================================================== -->
 <!-- Portfolio Contact End Here -->
<!-- ============================================================== -->*/

/* Slick Dots Area /
/ ----------------------------------------------------------------------------------- */

.slick-dots {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  position: absolute;
  bottom: -4.4rem;
  left: 60px;
}

ul.slick-dots li {
  height: 8px;
  width: 8px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  text-align: center;
  border-radius: 20px;
  line-height: 5px;
  font-size: 0;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}

ul.slick-dots li.slick-active {
  height: 12px;
  width: 12px;
  background: var(--primary-color);
}

ul.slick-dots li button {
  display: none;
}

/* Rotate SVG Area /
/ ----------------------------------------------------------------------------------- */
.text-inner svg {
  width: 100px;
  max-width: 100%;
  height: auto;
  overflow: visible;
  word-spacing: 10px;
  transform: rotate(0) scaleX(1) scaleY(1);
}

.text-inner path {
  fill: transparent;
  stroke: transparent;
  stroke-width: 1px;
  transition: 0.3s stroke, 0.3s fill;
}

.text-inner text {
  fill: #ffffff;
  direction: ltr;
  transition: 0.3s stroke, 0.3s stroke-width, 0.3s fill;
  font-size: 40px;
  font-weight: 200;
}

/*===========================
<-- Portfolio Sent Btn Css -->
=============================*/

/*===========================
<-- Portfolio Loader Css -->
=============================*/

/* PRELOADER CSS */
.loading-screen {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(7px);
  z-index: 1000;
}

.loading-screen .bar {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #08083a;
}

.loading-screen .top-bar {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
}

.loading-screen .down-bar {
  bottom: 0;
  top: auto;
  right: 0;
  left: auto;
}

.loading-screen .animation-preloader {
  z-index: 1000;
  position: relative;
}

.loading-screen .animation-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 4px dotted #e2dfdd;
  border-top: #1f212b;
  width: 150px;
  height: 150px;
  margin: 0 auto 3.5em auto;
  mix-blend-mode: difference;
}

.loading-screen .animation-preloader .txt-loading {
  font: bold 5em "Rubik", sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-screen .animation-preloader .txt-loading .letters-loading {
  color: #fff;
  position: relative;
}

.loading-screen .animation-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite;
  color: #02c0bc;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: -3px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.loading-screen
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .loading-screen .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }

  .loading-screen .animation-preloader .txt-loading {
    font: bold 3.5em "Rubik", sans-serif;
  }
}

@media screen and (max-width: 500px) {
  .loading-screen .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  .loading-screen .animation-preloader .txt-loading {
    font: bold 2em "Rubik", sans-serif;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 75px);
}

.load {
  position: relative;
}

.load:before,
.load:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.load:before {
  animation: before 2s infinite;
}

.load:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75),
      0 0.5em rgba(111, 202, 220, 0.75);
  }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75),
      1em 0.5em rgba(111, 202, 220, 0.75);
  }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75),
      -1em 0.5em rgba(111, 202, 220, 0.75);
  }
}
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75),
      -0.5em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75),
      -0.5em 1em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75),
      -0.5em -1em rgba(233, 169, 32, 0.75);
  }
}

/*
<!-- ============================================================== -->
<!--Scrollup Button Section -->
<!-- ============================================================== -->*/

/* curser Animation */

.curser {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: 0.2s;
}

.curser2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -0%);
  z-index: 9999;
  transition: 0.1s;
}

/*<!-- ============================================================== -->
 <!-- Portfolio animation start here -->
<!-- ============================================================== -->*/

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    -webkit-transform: scale(0.7) translateY(100px);
    transform: scale(0.7) translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes ZoomIn {
  from {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes FadeInUp {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotateX(-150deg) rotateY(-235deg) rotateZ(0deg);
    -webkit-transform: rotateX(-150deg) rotateY(-235deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(-150deg) rotateY(-235deg) rotateZ(360deg);
    -webkit-transform: rotateX(-150deg) rotateY(-235deg) rotateZ(360deg);
  }
}

@keyframes rotate4 {
  0% {
    transform: rotateX(220deg) rotateY(20deg) rotateZ(0deg);
    -webkit-transform: rotateX(220deg) rotateY(20deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(220deg) rotateY(20deg) rotateZ(360deg);
    -webkit-transform: rotateX(220deg) rotateY(20deg) rotateZ(360deg);
  }
}

@keyframes ripple {
  0%,
  35% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes play-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.3),
      0 0 0 10px rgba(254, 254, 254, 0.3), 0 0 0 20px rgba(254, 254, 254, 0.3);
    box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.3),
      0 0 0 10px rgba(254, 254, 254, 0.3), 0 0 0 20px rgba(254, 254, 254, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.3),
      0 0 0 20px rgba(254, 254, 254, 0.3), 0 0 0 30px rgba(254, 254, 254, 0);
    box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.3),
      0 0 0 20px rgba(254, 254, 254, 0.3), 0 0 0 30px rgba(254, 254, 254, 0);
  }
}

@keyframes play-btn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.3),
      0 0 0 10px rgba(254, 254, 254, 0.3), 0 0 0 20px rgba(254, 254, 254, 0.3);
    box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.3),
      0 0 0 10px rgba(254, 254, 254, 0.3), 0 0 0 20px rgba(254, 254, 254, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.3),
      0 0 0 20px rgba(254, 254, 254, 0.3), 0 0 0 30px rgba(254, 254, 254, 0);
    box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.3),
      0 0 0 20px rgba(254, 254, 254, 0.3), 0 0 0 30px rgba(254, 254, 254, 0);
  }
}

@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}

@keyframes shine {
  100% {
    left: 100%;
  }
}

.dance {
  -webkit-animation: dance 2s alternate infinite;
  animation: dance 2s alternate infinite;
}

@keyframes dance {
  0% {
    -webkit-transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes Dance {
  0% {
    -webkit-transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(25px);
  }

  100% {
    -webkit-transform: translateX(0px);
  }
}

.dance2 {
  -webkit-animation: dance2 4s alternate infinite;
  animation: dance2 4s alternate infinite;
}

@keyframes dance2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(25px, -25px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, -25px, 25px);
  }
}

@keyframes Rotateme {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateme {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes Ripple {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(3);
    -webkit-transform: scale(3);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes lqt {
  0%,
  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 0px;
  }
  50% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% 40px;
  }
  50.1% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0% -40px;
  }
}

@keyframes lqb {
  0% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 40px;
  }
  100% {
    background-image: linear-gradient(#ff3d00 40px, transparent 0);
    background-position: 0 -40px;
  }
}

@keyframes spinx {
  0%,
  49% {
    transform: rotate(0deg);
    background-position: 50% 36px;
  }
  51%,
  98% {
    transform: rotate(180deg);
    background-position: 50% 4px;
  }
  100% {
    transform: rotate(360deg);
    background-position: 50% 36px;
  }
}
